[Unit]
Description=Sonatype Nexus

[Service]
Type=forking
Environment=RUN_AS_USER=nexus
PIDFile=<%= @install_dir %>/nexus/bin/jsw/linux-x86-64/nexus.pid
ExecStart=<%= @install_dir %>/nexus/bin/nexus start
ExecReload=<%= @install_dir %>/nexus/bin/nexus restart
ExecStop=<%= @install_dir %>/nexus/bin/nexus stop

[Install]
Alias=nexus
WantedBy=multi-user.target
