input {

  beats {
    port => 5044
  }

 lumberjack {
   port => 5556
   ssl_certificate => "/etc/logstash/<%=@ls_certificate%>.crt"
   ssl_key => "/etc/logstash/<%=@ls_certificate%>.key"
   add_field => ["encoding", "json"]
  }

  # used for load testing
  http {
    port => 5557
  }
  
  tcp {
    port => 5555
  }

}

filter {
  # If anything crashes and there is a large backlog of incoming logs, you will need to clear it by dropping
  # them all.  To do this, uncomment the line below:
  # drop {}
  

  mutate {
    add_field => {"logstash_host" => "<%=@hostname%>" }
  
    # Convert any fields called "offset" to an integer so we can do numeric elasticsearch queries correctly
    convert => ["offset", "integer"]
  }

  if [x-forwarded-for] == "-" {
    mutate {
      update => {"x-forwarded-for" => "" }
    }
  }

  # For any logs that are have "encoding"=="json", parse the JSON into the top level of the message.
  # By setting this value, shipping agents can specify whether their "message" field should be parsed
  # If this field isn't set, the message will just be indexed as plaintext
  if [encoding] == "json" {
    json {
      source => "message"
    }
    mutate {
      remove_field => [ "message" ]
    }
  }

  # Extract just the filename from the full path, and set  "file" field to this
  grok {
    match => [ "file", "(?<filename>[^/]*$)"]
  }

  # Drop all logs from non tomcat 8 containers.  The non-tomcat 8 ones cause problems when the logs rotate.
  if [sls_tag_1] == "container" and "t8" not in [sls_tag_2] {
   drop {}
  }

  # drop all logs from the "agent"s, they aren't of much interest and not worth indexing
  if [sls_tag_1] == "container" and "agent" in [filename] {
   drop {}
  }


}

output {
  elasticsearch { 
    hosts => <%= @es_ips %> 
    
    # This configures Logstash to use the Elasticsearch index as specified by the incoming "beat"
    # TODO: what about inputs that don't use beats?
#     index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
  }
}

